.category {
  margin: 10px 0px;
  .organisationWrapper {
    display: flex;
    flex-direction: column;

    .OrgName {
      color: var(--text100);
    }
    .tags {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      > div {
        margin: 5px 5px 5px 0px;
        background-color: var(--primary95) !important;
      }
    }
  }
}
